@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&family=Sanchez:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

/* ========================== BASICS ========================== */

h1 {
  font-family: "Sacramento", cursive;
  color: #6c5ce7;
  font-size: 3rem; /* Larger font size */
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

h3 {
  font-family: "Montserrat Alternates", sans-serif;
  color: #3a3a8e;
}

p,
span,
a,
li,
label,
input {
  font-family: "Sanchez", serif;
}

.sound-button {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 100;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 5px rgb(92, 163, 255);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.sound-button:hover{
  scale: 1.1;
}

.sound-button img {
  height: 100%;
  border-radius: 50%;
}


main {
  min-height: calc(100vh - 72px - 56px);
}

/* .card img {
  height: 150px;
  object-fit: contain;
} */

/* ========================== INDEX.html ========================== */

.map{
  height: 50%;
  width: 100%;
}


/* ========================== TEAMS.html ========================== */

.card-img {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-img img {
  width: 100%;
  height: 150px; /* Smaller image height */
  object-fit: contain;
  object-position: center;
}

.highlight-card {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.highlight-card:hover {
  transform: scale(1.05);
}

.highlight-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.highlight-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 70%;
  }
  main {
    min-height: calc(100vh - 72px - 16px);
  }

  .sound-button {
    right: 20px;
    bottom: 50px;
    width: 50px;
    height: 50px;
  }
}
